## Project #1


```
Alexander Baquiax
PIO | Econometr√≠a II
12007988
```

In [52]:
import numpy as np
import pandas as pd

In [53]:
raw = np.load('data/data.npy')
dataset = pd.DataFrame(raw)
dataset.head().append(dataset.tail())

             0    1       2    3       4     5
0     208500.0  7.0   856.0  8.0  2003.0  65.0
1     181500.0  6.0  1262.0  6.0  1976.0  80.0
2     223500.0  7.0   920.0  6.0  2001.0  68.0
3     140000.0  7.0   961.0  7.0  1915.0  60.0
4     250000.0  8.0  1145.0  9.0  2000.0  84.0
1455  175000.0  6.0   953.0  7.0  1999.0  62.0
1456  210000.0  6.0  2073.0  7.0  1978.0  85.0
1457  266500.0  7.0  1188.0  9.0  1941.0  66.0
1458  142125.0  5.0  1078.0  5.0  1950.0  68.0
1459  147500.0  5.0  1256.0  6.0  1965.0  75.0

In [54]:
trainging_set_size = int(len(dataset) * 0.8)
trainging_set_size

1168

In [59]:
training_set = pd.DataFrame(dataset.values[:int(trainging_set_size)])
training_set.head().append(training_set.tail())

             0    1       2    3       4     5
0     208500.0  7.0   856.0  8.0  2003.0  65.0
1     181500.0  6.0  1262.0  6.0  1976.0  80.0
2     223500.0  7.0   920.0  6.0  2001.0  68.0
3     140000.0  7.0   961.0  7.0  1915.0  60.0
4     250000.0  8.0  1145.0  9.0  2000.0  84.0
1163  108959.0  4.0  1258.0  6.0  1969.0  60.0
1164  194000.0  5.0  1432.0  5.0  1978.0   NaN
1165  233170.0  7.0  1502.0  7.0  2009.0  79.0
1166  245350.0  8.0  1694.0  7.0  2008.0  64.0
1167  173000.0  6.0   959.0  7.0  2000.0  58.0

In [60]:
testing_set = pd.DataFrame(dataset.values[trainging_set_size:])
testing_set.head().append(testing_set.tail())

            0     1       2     3       4      5
0    235000.0   6.0  1236.0   7.0  1935.0  120.0
1    625000.0  10.0  1831.0  10.0  1995.0  118.0
2    171000.0   6.0  1118.0   6.0  1977.0   76.0
3    163000.0   6.0  1261.0   6.0  1958.0   76.0
4    171900.0   7.0   625.0   5.0  2006.0   35.0
287  175000.0   6.0   953.0   7.0  1999.0   62.0
288  210000.0   6.0  2073.0   7.0  1978.0   85.0
289  266500.0   7.0  1188.0   9.0  1941.0   66.0
290  142125.0   5.0  1078.0   5.0  1950.0   68.0
291  147500.0   5.0  1256.0   6.0  1965.0   75.0

8754